/* Assistive Styles */
@media only screen and (min-width:1025px) { 
	.header-override {
        padding-top: 80px;
    }

    #mobileDisplayController_full {
        display: block
    }
    #mobileDisplayController_small {
        display: none
    }
}

@media only screen and (max-width:1024px) { 
    #mobileDisplayController_full {
        display: none
    }
    #mobileDisplayController_small {
        display: block
    }
}

.half-page-fixed {
    left: 50%;
    height: 100%;
    overflow:scroll;
    padding-bottom:80px;
}

.inline-link {
    display: inline;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
    /* Modified from https://disjfa.github.io/bootstrap-tricks/card-collapse-tricks/ */
}

.card-header .collapsed .fa {
    transform: rotate(180deg);
    /* Modified from https://disjfa.github.io/bootstrap-tricks/card-collapse-tricks/ */
}

/* Ideas Fest Color Palette */

.purple__aspen {
    color: white;
    background-color: #A82890;
}

.green__aspen {
    color: white;
    background-color: #00A807;
}

.brightblue__aspen {
    color: white;
    background-color: #00ADEB;
}

.magenta__aspen {
    color: white;
    background-color: #CA0088;
}

.darkblue__aspen {
    color: white;
    background-color: #262261;
}

.yellow__aspen {
    color: white;
    background-color: #FAAC3E;
}

.orange__aspen {
    color: white;
    background-color: #F15C33;
}

.purple__aspen:hover {
    color: white;
    background-color: #862074;
}

.green__aspen:hover {
    color: white;
    background-color: #008604;
}

.brightblue__aspen:hover {
    color: white;
    background-color: #009AD3;
}

.magenta__aspen:hover {
    color: white;
    background-color: #A1006C;
}

.darkblue__aspen:hover {
    color: white;
    background-color: #1E1B4D;
}

.yellow__aspen:hover {
    color: white;
    background-color: #E19A37;
}

.orange__aspen:hover {
    color: white;
    background-color: #C04928;
}